body {
  background-color: #8859ff;
}

#main-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "AAa AAa AAa"
    "Aa Ab Ac"
    "Ba Bb Bc"
    "Ca Cb Cc";
}

#editor { 
  position: absolute;
  border-left-style: solid;
  border-left-width: 30px;
  border-left-color: #a9ff4e;
  top: 140px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

#title {
  grid-area: AAa;
  justify-self: center;
  margin-top: -20px;
  margin-bottom: -15px;
}

/* within store-container */
#store-container {
  grid-area: Aa;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "aA aB"
    "bA bB"
}

.store-btn {
  grid-area: aA;
  justify-self: left;
  margin-top: 20px;
}

.input-field-title{
  grid-area: bA;
  justify-self: left;
  margin-top: 5px;
}

/* within get-delete-conatiner */
#get-delete-container {
  grid-area: Ac;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "aA aB"
    "bA bB"
}

.get-btn {
  grid-area: aA;
  justify-self: right;
  margin-top: 20px;
}

.input-field-get {
  grid-area: bA;
  justify-self: right;
  margin-top: 5px;
}

.delete-btn {
  grid-area: aB;
  justify-self: right;
  margin-top: 20px;
}

.input-field-delete {
  grid-area: bB;
  justify-self: right;
  margin-top: 5px;
}


